#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        init: init {
            compatible = "zmk,behavior-macro";
            label = "init";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp I &kp T &kp I &kp A &kp L &kp I &kp S &kp E &kp ENTER>;
        };
        input: input {
            compatible = "zmk,behavior-macro";
            label = "input";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp P &kp U &kp T &kp ENTER>;
        };
        speed: speed {
            compatible = "zmk,behavior-macro";
            label = "speed";
            #binding-cells = <0>;
            bindings = <&kp S &kp P &kp E &kp E &kp D &kp ENTER>;
        };
        dispense: dispense {
            compatible = "zmk,behavior-macro";
            label = "dispense";
            #binding-cells = <0>;
            bindings = <&kp D &kp I &kp S &kp P &kp E &kp N &kp S &kp E &kp ENTER>;
        };
        stop: stop {
            compatible = "zmk,behavior-macro";
            label = "stop";
            #binding-cells = <0>;
            bindings = <&kp S &kp T &kp O &kp P &kp ENTER>;
        };
        pickup: pickup {
            compatible = "zmk,behavior-macro";
            label = "pickup";
            #binding-cells = <0>;
            bindings = <&kp P &kp I &kp C &kp K &kp U &kp P &kp ENTER>;
        };
        two: two {
            compatible = "zmk,behavior-macro";
            label = "two";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp ENTER>;
        };
        num_1: num_1 {
            compatible = "zmk,behavior-macro";
            label = "num_1";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp ENTER>;
        };
        sample_pickup: sample_pickup {
            compatible = "zmk,behavior-macro";
            label = "new_macroq";
            #binding-cells = <0>;
            bindings = <&kp S &kp A &kp M &kp P &kp L &kp E &kp UNDERSCORE &kp P &kp I &kp C &kp K &kp U &kp P &kp ENTER>;
        };
        prime_chip: prime_chip {
            compatible = "zmk,behavior-macro";
            label = "new_macrow";
            #binding-cells = <0>;
            bindings = <&kp P &kp R &kp I &kp M &kp E &kp UNDERSCORE &kp C &kp H &kp I &kp P &kp ENTER>;
        };
        measure_sample: measure_sample {
            compatible = "zmk,behavior-macro";
            label = "new_macroe";
            #binding-cells = <0>;
            bindings = <&kp M &kp E &kp A &kp S &kp U &kp R &kp E &kp UNDERSCORE &kp S &kp A &kp M &kp P &kp L &kp E &kp ENTER>;
        };
        cleanIL: cleanIL {
            compatible = "zmk,behavior-macro";
            label = "new_macror";
            #binding-cells = <0>;
            bindings = <&kp C &kp L &kp E &kp A &kp N &kp I &kp L &kp ENTER>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
   &kp A      &kp B   &kp C
&cleanIL     &input  &speed
 &pickup  &dispense   &stop
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
