#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        init: init {
            compatible = "zmk,behavior-macro";
            label = "init";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp I &kp T &kp I &kp A &kp L &kp I &kp S &kp E>;
        };
        input: input {
            compatible = "zmk,behavior-macro";
            label = "input";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp P &kp U &kp T>;
        };
        speed: speed {
            compatible = "zmk,behavior-macro";
            label = "speed";
            #binding-cells = <0>;
            bindings = <&kp P &kp I &kp C &kp K &kp U &kp P>;
        };
        dispense: dispense {
            compatible = "zmk,behavior-macro";
            label = "dispense";
            #binding-cells = <0>;
            bindings = <&kp D &kp I &kp S &kp P &kp E &kp N &kp S &kp E>;
        };
        stop: stop {
            compatible = "zmk,behavior-macro";
            label = "stop";
            #binding-cells = <0>;
            bindings = <&kp S &kp T &kp O &kp P>;
        };
        pickup: pickup {
            compatible = "zmk,behavior-macro";
            label = "new_macro";
            #binding-cells = <0>;
            bindings = <&kp P &kp I &kp C &kp K &kp U &kp P>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp NUMBER_0     &kp N1  &kp N2
       &init     &input  &speed
     &pickup  &dispense   &stop
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
